@tailwind base;
@tailwind components;
@tailwind utilities;

[data-amplify-authenticator] {
  --amplify-components-button-primary-background-color: #7055fd;
}

[data-amplify-authenticator] div {
  border-radius: 2rem;
}

div[role="tablist"] {
  display: none; /* Additional rule to hide the items */
}
.amplify-select {
  --amplify-components-fieldcontrol-border-radius: 20px;
}
.amplify-input {
  --amplify-components-fieldcontrol-border-radius: 20px;
}
.amplify-tabs {
  --amplify-tabs-border-radius: 20px;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
