.clear-button:hover {
    opacity: 0.5;
    background: #eae5fa;
    color: #7055FD;
    border-color: #7055FD;
}




/* borderColor: {
    value: "#A689FF"
}

,
_focus: {
    borderColor: {
        value: "#7055FD"
    }

    , */
/* const HEADER_STYLES="text-lg";
const INPUT_STYLES="rounded-md border w-full p-4 my-1 border-2";
const SUBMIT_STYLES="bg-awesomer-purple p-4 w-full my-1 text-white rounded-md hover:bg-[#A689FF]"; */